/* BASIC STYLE */
:root{
    --bg-btn: #F05670;
    --color-btn: #FFFFFF;
    --theme-color: #1E959B;
    --box-shadow-10b: 0 5px 10px #1e959b80;
    --box-shadow-4b: 0 4px 4px #1e959b80;
    --box-shadow-15b: 0 15px 15px #1e959b80;
    --color-text: #3C3C3C;
    --liner-gradient: repeating-linear-gradient(180deg, #FFFFFF, #F7F9FD);
    --bg-page: #F8FFFF;
    --bg-page-2: #1e959b42;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-page);
}

/* STYLING ELEMENTS OF THE CAROUSEL*/
.background-sponsor{
    margin-top: 100px;
    background-color: var(--theme-color);
}
.sponsor-section{
    padding: 20px;
    position: relative;
    height: 80px;
}
.img-sponsor{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: slider-sponsor 30s linear infinite;
    -webkit-animation: slider-sponsor 30s linear infinite;
    -moz-animation: slider-sponsor 30s linear infinite;
    -o-animation: slider-sponsor 30s linear infinite;
    opacity: 0;
}
.img-sponsor img{
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.img-sponsor:nth-of-type(1){
    animation-delay: -30s;
}
.img-sponsor:nth-of-type(2){
    animation-delay: -24s;
}
.img-sponsor:nth-of-type(3){
    animation-delay: -18s;
}
.img-sponsor:nth-of-type(4){
    animation-delay: -12s;
}
.img-sponsor:nth-of-type(5){
    animation-delay: -6s;
}
@keyframes slider-sponsor {
    0%{
        opacity: 0;
        transform: translate(200%, -50%);
    }
    0.5%, 19%{
        opacity: 1;
        transform: translate(180%, -50%);
      }
      20%, 39%{
        opacity: 1;
        transform: translate(70%, -50%);
      }
      40%, 59%{
        opacity: 1;
        transform: translate(-50%, -50%);
      }
      60%, 79%{
        opacity: 1;
        transform: translate(-170%, -50%);
      }
      80%, 99.5%{
        opacity: 1;
        transform: translate(-280%, -50%);
      }
      100%{
        opacity: 0;
        transform: translate(-300%, -50%);
      }
}

@media screen and (max-width: 1100px) {
    @keyframes slider-sponsor {
        0%, 19%{
            opacity: 0;
            transform: translate(200%, -50%);
          }
          20%, 39%{
            opacity: 1;
            transform: translate(120%, -50%);
          }
          40%, 59%{
            opacity: 1;
            transform: translate(5%, -50%);
          }
          60%, 79%{
            opacity: 1;
            transform: translate(-105%, -50%);
          }
          80%, 99.5%{
            opacity: 1;
            transform: translate(-215%, -50%);
          }
          100%{
            opacity: 0;
            transform: translate(-300%, -50%);
          }
    }
}
@media screen and (max-width: 950px) {
    @keyframes slider-sponsor {
        0%, 39%{
            opacity: 0;
            transform: translate(200%, -50%);
          }
          40%, 59%{
            opacity: 1;
            transform: translate(70%, -50%);
          }
          60%, 79%{
            opacity: 1;
            transform: translate(-50%, -50%);
          }
          80%, 99.5%{
            opacity: 1;
            transform: translate(-170%, -50%);
          }
          100%{
            opacity: 0;
            transform: translate(-300%, -50%);
          }
    }
}
@media screen and (max-width: 750px) {
    .img-sponsor{
        width: 150px;
    }
    @keyframes slider-sponsor {
        0%, 59%{
            opacity: 0;
            transform: translate(200%, -50%);
          }
          60%, 79%{
            opacity: 1;
            transform: translate(20%, -50%);
          }
          80%, 99.5%{
            opacity: 1;
            transform: translate(-120%, -50%);
          }
          100%{
            opacity: 0;
            transform: translate(-300%, -50%);
          }
    }
}
@media screen and (max-width: 450px) {
    @keyframes slider-sponsor {
        0%, 79%{
            opacity: 0;
            transform: translate(200%, -50%);
          }
          80%, 99.5%{
            opacity: 1;
            transform: translate(-50%, -50%);
          }
          100%{
            opacity: 0;
            transform: translate(-300%, -50%);
          }
    }
}